@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal,
  $asset-pipeline: $asset-pipeline,
  $file-formats: eot woff2 woff ttf svg) {

  $font-url-prefix: font-url-prefixer($asset-pipeline);

  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;

    src: font-source-declaration(
        $font-family,
        $file-path,
        $asset-pipeline,
        $file-formats,
        $font-url-prefix
    );
  }
}

@mixin font-face-filip(
  $font-family,
  $font-path,
  $font-eot-link,
  $font-embedded-opentype-link,
  $font-woff2-link,
  $font-woff-link,
  $font-ttf-link,
  $font-svg-link,
  $font-weight: normal,
  $font-style: normal) {

  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$font-path}/#{$font-eot-link}'); /* IE9 Compat Modes */
    src: url('#{$font-path}/#{$font-embedded-opentype-link}') format('embedded-opentype'), /* IE6-IE8 */
    url('#{$font-path}/#{$font-woff2-link}') format('woff2'), /* Super Modern Browsers */
    url('#{$font-path}/#{$font-woff-link}') format('woff'), /* Pretty Modern Browsers */
    url('#{$font-path}/#{$font-ttf-link}') format('truetype'), /* Safari, Android, iOS */
    url('#{$font-path}/#{$font-svg-link}') format('svg'); /* Legacy iOS */
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@mixin font-face-filip-no-woff2(
  $font-family,
  $font-path,
  $font-eot-link,
  $font-embedded-opentype-link,
  $font-woff-link,
  $font-ttf-link,
  $font-svg-link,
  $font-weight: normal,
  $font-style: normal) {

  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$font-path}/#{$font-eot-link}'); /* IE9 Compat Modes */
    src: url('#{$font-path}/#{$font-embedded-opentype-link}') format('embedded-opentype'), /* IE6-IE8 */
    url('#{$font-path}/#{$font-woff-link}') format('woff'), /* Pretty Modern Browsers */
    url('#{$font-path}/#{$font-ttf-link}') format('truetype'), /* Safari, Android, iOS */
    url('#{$font-path}/#{$font-svg-link}') format('svg'); /* Legacy iOS */
    font-weight: $font-weight;
    font-style: $font-style;
  }
}
