// Accordion Theme X RENEW
// =============================================================================

.#{$namespace-for-all-css-classes}-accordion {
  margin-bottom: $base-margin;
}

//
// Group (heading + body).
//

.#{$namespace-for-all-css-classes}-accordion-group {
  @include transition(#{border-color .3s ease});
  border: 2px solid $shortcode-border-color;
  margin: 0 0 4px;

  &:last-child {
    margin-bottom: 0;
  }
}

//
// Heading.
//

.#{$namespace-for-all-css-classes}-accordion-heading {
  border-bottom: 0;

  .#{$namespace-for-all-css-classes}-accordion-toggle {
    background-color: darken($base-mod-background, 2%);
    color: $headings-color;
    cursor: pointer;
    display: block;
    font-size: 124.8%;
    padding: 10px 15px;

    &.collapsed {
      background-color: $base-mod-background;

      &:before {
        color: darken($shortcode-border-color, 7%);
        @include rotate(0);
      }
    }

    &:hover {
      background-color: darken($base-mod-background, 2%);

      &:before {
        color: darken($shortcode-border-color, 7%);
      }
    }

    &:before {
      content: "\f067";
      position: relative;
      display: inline-block;
      bottom: 0.1em;
      margin-right: 10px;
      font-size: 74%;
      -webkit-font-smoothing: antialiased;
      @include rotate(45deg);
      @include transition(#{all 0.3s ease});
      @include font-awesome();
    }
  }
}

//
// Inner.
//

.#{$namespace-for-all-css-classes}-accordion-inner {
  padding: 15px;
  border-top: 2px solid $shortcode-border-color;

  p:last-child,
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }
}
