// Block Grid
// =============================================================================

.#{$namespace-for-all-css-classes}-block-grid {
    display: block;
    overflow: hidden;
    margin: 0 0 $base-margin;

    > li {
        display: block;
        float: left;
        height: auto;
        margin: 5% 5% 0 0;
        padding: 0;
    }

    //
    // Two.
    //

    &.two-up > li {
        width: 47.5%;

        &:nth-child(-n+2) { margin-top: 0; }
        &:nth-child(2n) { margin-right: 0; }
        &:nth-child(2n+1) { clear: both; }

        @include break(baby-bear) {
            width: 100%;
            margin-right: 0;

            &:nth-child(2) { margin-top: 5%; }
        }
    }

    //
    // Three.
    //

    &.three-up > li {
        width: 30%;

        &:nth-child(-n+3) { margin-top: 0; }
        &:nth-child(3n) { margin-right: 0; }
        &:nth-child(3n+1) { clear: both; }

        @include break(cubs) {
            width: 47.5%;

            &:nth-child(3) { margin-top: 5%; }
            &:nth-child(3n) { margin-right: 5%; }
            &:nth-child(3n+1) { clear: none; }
            &:nth-child(2n) { margin-right: 0; }
            &:nth-child(2n+1) { clear: both; }
        }

        @include break(baby-bear) {
            width: 100%;
            margin-right: 0;

            &:nth-child(2) { margin-top: 5%; }
            &:nth-child(3n) { margin-right: 0; }
        }
    }

    //
    // Four.
    //

    &.four-up > li {
        width: 21.25%;

        &:nth-child(-n+4) { margin-top: 0; }
        &:nth-child(4n) { margin-right: 0; }
        &:nth-child(4n+1) { clear: both; }

        @include break(cubs) {
            width: 47.5%;

            &:nth-child(3),
            &:nth-child(4) { margin-top: 5%; }
            &:nth-child(4n) { margin-right: 5%; }
            &:nth-child(4n+1) { clear: none; }
            &:nth-child(2n) { margin-right: 0; }
            &:nth-child(2n+1) { clear: both; }
        }

        @include break(baby-bear) {
            width: 100%;
            margin-right: 0;

            &:nth-child(2) { margin-top: 5%; }
            &:nth-child(4n) { margin-right: 0; }
        }
    }
}


