// Dropcap THEME X RENEW
// =============================================================================

.x-dropcap {
    float: left;
    display: block;
    margin: 0.215em 0.215em 0 0;
    padding: 0.105em 0.2em 0.11em;
    font-size: 3.5em;
    font-weight: bold;
    line-height: 1;
    color: $white;
    background-color: $accent-color;
}
