// Highlight THEME X RENEW
// =============================================================================

.x-highlight {
    padding: 0.188em 0.375em;
    color: $white;
    background-color: $linkColor;

    &.dark {
        color: $white;
        background-color: darken($gray, 5%);
    }
}

