// Skill Bar van Theme X RENEW
// =============================================================================

.h-skill-bar {
    margin-top: 0;
    @include font-size(1.1);
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
}

.x-skill-bar {
    height: 25px;
    margin-bottom: $baseMargin;
    background-color: $shortcode-border-color;
}

.x-skill-bar .bar {
    overflow: hidden;
    position: relative;
    width: 0%;
    height: 100%;
    float: left;
    background-color: $accent-color;
}

.x-skill-bar .bar .percent {
    position: absolute;
    right: 4px;
    bottom: 4px;
    height: 17px;
    padding: 0 5px;
    font-size: 11px;
    line-height: 17px;
    color: $base-mod-background;
    background-color: $headingsColor;
    background-color: rgba(0, 0, 0, 0.25);
}

