// =============================================================================
// _SOCIAL.SCSS van THEME X RENEW
// -----------------------------------------------------------------------------
// Site styles.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Global Social Links
//   02. Twitter Embed
// =============================================================================

// Global Social Links
// =============================================================================

.op-social-global {
    font-weight: 400;
    line-height: 1;

    a {
        display: inline-block;
        text-align: center;
        color: $navbar-link-color;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 100em;

        &:hover {

            &.facebook    { background-color: $color-facebook; }
            &.twitter     { background-color: $color-twitter; }
            &.google-plus { background-color: $color-googleplus; }
            &.linkedin    { background-color: $color-linkedin; }
            &.xing        { background-color: $bc-xing; }
            &.foursquare  { background-color: $bc-foursquare; }
            &.youtube     { background-color: $bc-youtube; }
            &.vimeo       { background-color: $bc-vimeo-2; }
            //&.vimeo       { background-color: $bc-vimeo; }
            &.instagram   { background-color: $bc-instagram; }
            &.pinterest   { background-color: $bc-pinterest; }
            &.dribbble    { background-color: $bc-dribbble-2; }
            &.flickr      { background-color: $bc-flickr-2; }
            &.behance     { background-color: $bc-behance; }
            &.tumblr      { background-color: $bc-tumblr; }
            &.soundcloud  { background-color: $bc-soundcloud; }
            &.rss         { background-color: $bc-rss; }
        }

        i {
            display: block;
        }
    }
}
