// Responsive Breakpoints
// =============================================================================

$break-small: 480px !default;
$break-medium: 767px !default;²
$break-medium-large: 979px !default; // (+1 = default desktop)
$break-large: 1200px !default;


$ipad-landscape: 1024px;
$ipad-portrait: 768px;

$ipad-pair-landscape: 768px 1024px;
$ipad-pair-portrait: 1024px 768px;

//===============================================================================

$breakpoints: (
        "phone": 400px,
        "phone-wide": 480px,
        "phablet": 560px,
        "tablet-small": 640px,
        "tablet": 768px,
        'ipadportrait' : 768px,
        "ipadlandscape": 1030px,
        "tablet_wide": 1024px,
        "desktop": 1248px,
        "desktop-wide": 1440px,
);
//@mixin mq($width, $type: min) {
//    @if map_has_key($breakpoints, $width) {
//        $width: map_get($breakpoints, $width);
//        @if $type == max {
//            $width: $width - 1px;
//        }
//        @media only screen and (#{$type}-width: $width) {
//            @content;
//        }
//    }
//}
