// Buttons
// =============================================================================

$btn-background:    #ff2a13                     !default;
$btn-border:        darken($btn-background, 20%) !default;

// Buttons Renew
// =============================================================================

//
// Base button styling.
//

$btn-renew-color:              $white          !default;
$btn-renew-border: $accent-color !default;
$btn-renew-background: $accent-color !default;
$btn-renew-color-hover:         $white          !default;
$btn-renew-border-hover: $link-color-hover !default;
$btn-renew-background-hover: $link-color-hover !default;


//
// Box shadows.
//

$btn-renew-box-shadow:    0 0 0 rgba(0, 0, 0, 0), inset 0 0 0 rgba(0, 0, 0, 0) !default;
