$footer_background: true;
$footer_background_color: color(blue_series, op_blue_rgb);

$footer_padding_status: true;
$footer_padding_top: null;
$footer_padding_right: 15px;
$footer_padding_bottom: null;
$footer_padding_left: 15px;

$footer_text_align_status: true;
$footer_text_align: center;

$footer_text_color: color(black_series, op_black_hex);
