$footer-background: true;
$footer-background-color: $op-grey-footer-background-color;

$footer-padding-status: true;
$footer-padding-top: null;
$footer_padding_right: 15px;
$footer_padding_bottom: null;
$footer_padding_left: 15px;

$footer_text_align_status: true;
$footer_text_align: center;

$footer_text_color: color(black_series, op_black_hex);


