//
// Form states and alert colors.
//

$warning-text:          #c09853                                          !default;
$warning-background:    #fcf8e3                                          !default;
$warning-border:        darken(adjust-hue($warning-background, -10), 13%) !default;

$error-text:            #b94a48                                       !default;
$error-background:      #f2dede                                       !default;
$error-border:          darken(adjust-hue($error-background, -10), 9%) !default;

$success-text:          #468847                                          !default;
$success-background:    #dff0d8                                          !default;
$success-border:        darken(adjust-hue($success-background, -10), 13%) !default;

$info-text:             #3a87ad                                     !default;
$info-background:       #d9edf7                                     !default;
$info-border:           darken(adjust-hue($info-background, 10), 9%) !default;


