// Links Renew
//
// Style anchor elements.
// =============================================================================

//$link-color:            $brand-primary !default;
$link-color:          #16a085                                                                                                      !default;

//$link-hover-color:      darken($link-color, 15%) !default;
$link-color-hover:     #1abc9c                                                                                                      !default;

//TODO geef een kleur voor de link-color-visited variabele
$link-color-visited:   #1abc9c                                                                                                      !default;
//$link-visited-color: $color-blue;

$link-decoration:       none !default;
$link-hover-decoration: underline !default;

$link-background-color: transparent !default;

$link-transitions:    color .3s ease, background-color .3s ease, border-color .3s ease, box-shadow .3s ease, opacity .3s ease !default;

