// MEJS
// =============================================================================

$mejsHeight:         32px !default;
$mejsHeightInner:    30px !default;

$mejsAdvancedTimeWidth:             $mejsHeightInner + 15px                              !default;
$mejsAdvancedTimeWidthTotal:        $mejsAdvancedTimeWidth * 2                           !default;
$mejsAdvancedTimeRailWidthAudio:    ($mejsHeightInner * 2) + $mejsAdvancedTimeWidthTotal !default;
$mejsAdvancedTimeRailWidthVideo:    ($mejsHeightInner * 3) + $mejsAdvancedTimeWidthTotal !default;