$op-background-color-body: $op-white;
$op-textbox-grey-color: $op-grey;
$op-green-button-color: color(green_series, op_lightgreen_hex_for_project_unofficial);
$op-heading-text-color: color(blue_series, op_blue_hex);
$op-text-colour: #444443;
$op-scrollbar-area: #b6b1a8;
$op-scrollbar: #807f7d;
$op-remove-button-red: #dc4d4d;
$op-button-click-color: #7d9d33;
$op-dropdown-menu-color: #7d9d33;



//Background colour: f0f1f1
//Textbox grey: e3dfd7
//OP green (button colour): 9ec030
//OP blue (heading colour): 004898
//Text colour: 444443
//Scroll bar area: b6b1a8
//Scroll bar: 807f7d
//Remove button red: dc4d4d
//Button click colour change and drop down menu: 7d9d33


// colors for forms specific
$op-title-fields-contact-form-text-color-not-checked: #444443;
$op-title-fields-contact-form-text-color-checked: $white;
$op-title-fields-contact-form-background-color-checked: color(green_series, op_lightgreen_hex_for_project_unofficial);
$op-title-fields-contact-form-background-color-not-checked: $op-grey;
$op-input-control-background-color: $op-grey;
$op-subtitle-span-text-color: color(blue_series, op_blue_hex);

// not color settings
$op-title-fields-contact-form-text-font-weight-checked: bold;
$op-input-control-border: none;

