// Spacing Helpers
// =============================================================================

$spacing-helper-none:      0     !default;
$spacing-helper-small:     .5em !default;
$spacing-helper-medium:    1em   !default;
$spacing-helper-large:     2em   !default;

