// Tables Renew
// =============================================================================

$table-background: transparent !default;
$table-border: darken($base-mod-background, 5%) !default;

$table-th-td-border-size: 1px;
$table-th-td-border-style: solid;

$table-tbody-border-size: 2px;
$table-tbody-border-style: solid;

$table-td-line-height: 1.4;
