//
// Tooltips
//

$tooltip-arrow-width:         5px     !default;
$tooltip-arrow-color:         #272727 !default;
$tooltip-color:              $white  !default;
$tooltip-background:         #272727 !default;