// Typography
// =============================================================================

@import '../font-stacks';

//
// Font families.
//

$sans-font-family:     $lato     !default;
$mono-font-family:     $consolas !default;
$alt-font-family:      $lato     !default;


//
// Base styles.
//

$base-font-size-px: 16 !default;

$base-font-size:      62.5%           !default;
$base-line-height:    1.8             !default;
$base-font-weight:    300             !default;
$base-font-family: $sans-font-family !default;
$base-margin:        1.5em           !default;


//
// Heading styles.
//

$headings-font-family: $alt-font-family !default;
$headings-font-weight:    700            !default;
$headings-color: $accent-color !default;

