// Z-Index Master List
// =============================================================================

$z-index-dropdown: 1000 !default;
$z-index-popover: 1010 !default;
$z-index-tooltip: 1020 !default;
$z-index-navbar: 1030 !default;
$z-index-modal-backdrop: 1040 !default;
$z-index-modal: 1050 !default;

$z-index-header-version-1: 1060 !default;

// for the function z-index-calculation

$z-indexes: (
  "outdated-browser",
  "modal",
  "site-header",
  "page-wrapper",
  "site-footer",
  "dropdown",
  "popover",
  "tooltip",
  "navbar",
  "modalBackDrop",
  "headerv1",
  "headerv2",
  "headerv3",
  "headerv4",
  "headerv5",
  "headerv6",
  "headerv7",
  "headerv8",
  "headerv9",
  "logo",
);
