// =============================================================================
// _SCAFFOLDING.SCSS
// -----------------------------------------------------------------------------
// Site styles.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Site Wrap
//   02. Body Reset
//   03. Grid Container
// =============================================================================

// Site Wrap
// =============================================================================

.site {
    margin: 0 auto;
    background-color: $base-mod-background;
    @include clearfix();
}

// Body Reset
// =============================================================================

body {
    margin: 0;
    overflow-x: hidden;
    line-height: $base-line-height;
}

// Grid Container
// =============================================================================

//TODO later bekijken of nog nodig is
/*.container {
    width: $containerWidth;
    &.offset {
        margin: 2.75em auto;
        @include break(middle-bear) {
            margin: 2em auto;
        }
    }
}

.container-fluid {
    width: $fluidContainerWidth;
}*/
