// =============================================================================
// _TYPE.SCSS
// -----------------------------------------------------------------------------
// Site styles.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Body Text
//   02. Emphasis
//   03. Headings
//   04. Lists
//   05. Miscellaneous
// =============================================================================

// Body Text
// =============================================================================

p {
  margin: 0 0 $base-margin;
}

// Emphasis
// =============================================================================

small {
  font-size: 0.8em;
}

b,
strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

// Lists
// =============================================================================

//
// Unordered and ordered lists.
//

ul,
ol {
  padding: 0;
  margin: 0 0 $base-margin 1.655em;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  line-height: $base-line-height;
}

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;

  & > li {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }
}

//
// Description lists.
//

dl {
  margin-bottom: $base-margin;
}

dt,
dd {
  line-height: $base-line-height;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: $base-margin;
}

// Miscellaneous
// =============================================================================

//
// Horizontal rules.
//

hr {
  height: 0;
  margin: $base-margin 0;
  border: 0;
  border-top: 2px solid $shortcode-border-color;
}

//
// Abbreviations and acronyms.
//

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $gray-light;
}

abbr.initialism {
  font-size: .9em;
  text-transform: uppercase;
}

//
// Blockquotes.
//

blockquote {
  margin: $base-margin 0;
  padding: 1em;
  border: 2px solid $shortcode-border-color;
  font-family: $alt-font-family;
  @include font-size(2.4);
  font-weight: 400;
  line-height: 1.3;
  color: $headings-color;
}

//
// Quotes.
//

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

//
// Addresses.
//

address {
  display: block;
  margin-bottom: $base-margin;
  font-style: normal;
  line-height: $base-line-height;
}
