// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  //full betekent volledige breedte ingesteld dus 100%
  @include span(full);

  @if ($footer-background == true) {
    background-color: $footer-background-color;
  }

  @if ($footer-padding-status == true) {
    @include padding($footer-padding-top $footer_padding_right $footer_padding_bottom $footer_padding_left);
  }

  @if ($footer_text_align_status == true) {
    text-align: $footer_text_align;
  }

  color: $footer_text_color;

  & .container {
    @include padding(null 15px null 15px);

    //@include show-grid(background);

    & .column-1 {
      @include span(5 at 1);
      //@include span(5 of 12);
      //@include span(3);
    }
    & .column-2 {
      //@include span(5 of 12 last);
      @include span(5 at 6 last);
    }

  }
}

// ------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------

// Gekopieerd van deze site
//https://github.com/engageinteractive/core/blob/master/src/scss/layout/_site-footer.scss
/*
.site-footer {
    position: relative;
    z-index: z("site-footer");
}
*/

//@import "footer/_footer-1";

// BEM

footer {
  // For sticky footer
  // https://medium.com/@zerox/keep-that-damn-footer-at-the-bottom-c7a921cb9551
   position: absolute;
  // end sticky footer


  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  // background-color: #efefef;
  text-align: center;

  @include block('section') { // footer .section ==> is de classname dat wordt gemaakt
    content: 'footer section';

    @include element('link') { // footer .section__link ==> is de classname dat wordt gemaakt
      content: 'footer .section .link';
    }
  }
}
